@import './constants';

.application {
  align-items: stretch;

  box-sizing: border-box;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;

  margin: 0 auto;
  max-width: 60em;
  min-height: 100vh;

  padding: 0;
  position: relative;

  width: 100%;

  // Define common styles for both the header and footer
  &__header,
  &__footer {
    box-sizing: border-box;

    color: #ffffff;

    flex: 0;

    padding: 0.5em 1em;
  }

  // Filled version of the header
  &__header--filled {
    background-color: @primaryColor;
  }

  &__footer {
    .text-shadow-1;
    margin-top: auto;
  }

  &__footer--dark {
    color: @primaryColor;
    text-shadow: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  color: @textLightColor;
}

h2,
h3 {
  color: @primaryColor;
}
