
@prettyPink: #cf1fb2;
@sexyGreen: #309400;
@errorRed: #f00;
@white: #fff;
@toggledButton: #005b82;
@borderColor: #3e3832;
@textColor: #111;

@backgroundColor: #fafafa;
@primaryColor: rgb(13, 51, 92);
@primaryColorLight: #4A78A8;
@accentColor: rgb(248, 69, 69);
@textPrimaryColor: #555555;
@textLightColor: #fafafa;
@textHeaderColor: rgb(13, 51, 92);
@textLinkColor: rgb(248, 69, 69);

.shadow-1 {
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

.text-shadow-1 {
  text-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}
