@import './constants';

html,
body {
  margin: 0;
  padding: 0;

}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

#root {
}
