.information__container {
  display: flex;
  flex-direction: row;

}

.title__container {
  margin-bottom: 70px;
}

.image__container {
  margin-right: 20px;
}

.image__item {
  height: 300px;
}

.details__container {

}


