@import '../../constants';

.cover {
  @posterHeight: 200px;
  @posterWidth: calc((@posterHeight * 2)/3);

  width: @posterWidth;
  height: @posterHeight;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;

  // Inverses the overlay and image
  &--inverse &__thumbnail{
      opacity: 0.3;
      filter: blur(3px);

    &:hover {
      opacity: 1;
      filter: blur(0);
    }
  }

  a {
    display: block;

    height: 100%;

    width: 100%;
  }

  &__thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;

    position: absolute;

    top: 50%;
    left: 50%;

    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
  }

  &__thumbnail:hover {
    opacity: 0.3;
    filter: blur(3px);
  }

  &__overlay {
    box-sizing: border-box;

    padding: 0.5em;
    font-weight: bold;
    color: @textColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    text-decoration: none;

    &__title,
    &__rating {
      text-decoration: none;
    }
  }
}
